@page
@model projetEsport.Areas.Admin.Pages.TypesMatches.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
    <h4>Type de match</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeMatche.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeMatche.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeMatche.CreeLe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeMatche.CreeLe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeMatche.ModifieeLe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeMatche.ModifieeLe)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.TypeMatche.ID">Éditer</a> |
    <a asp-page="./Index">Retour</a>
</div>
