@page
@model projetEsport.Areas.Admin.Pages.TypesMatches.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Types de matchs</h1>

<p>
    <a class="btn btn-success" asp-page="Create">Créer un nouveau type de match</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeMatche[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeMatche[0].CreeLe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeMatche[0].ModifieeLe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TypeMatche) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreeLe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifieeLe)
            </td>
            <td>
                <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.ID">Éditer</a> |
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.ID">Détails</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
