@page
@model projetEsport.Areas.Admin.Pages.Competitions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
    <h4>Compétition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.Competition.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.Competition.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.Competition.TypeCompetition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.Competition.TypeCompetition.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.Competition.DateDebut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.Competition.DateDebut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.Competition.DateFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.Competition.DateFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.NbEquipes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.NbEquipes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.NbJeux)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.NbJeux)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.Competition.Proprietaire.Pseudo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.Competition.Proprietaire.Pseudo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Competition.Competition.ID">Modifier</a> |
    
    <a asp-page="./Index">Retour</a>
</div>
