@page
@model projetEsport.Areas.Admin.Pages.Competitions.EditModel

@{
    ViewData["Title"] = "Éditer";
}

<h1>Éditer</h1>

<h4>Competition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Competition.ID" />
            <div class="form-group">
                <label asp-for="Competition.Nom" class="control-label"></label>
                <input asp-for="Competition.Nom" class="form-control" />
                <span asp-validation-for="Competition.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.DateDebut" class="control-label"></label>
                <input asp-for="Competition.DateDebut" class="form-control" />
                <span asp-validation-for="Competition.DateDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.DateFin" class="control-label"></label>
                <input asp-for="Competition.DateFin" class="form-control" />
                <span asp-validation-for="Competition.DateFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.CreeLe" class="control-label"></label>
                <input asp-for="Competition.CreeLe" class="form-control" />
                <span asp-validation-for="Competition.CreeLe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.ModifieeLe" class="control-label"></label>
                <input asp-for="Competition.ModifieeLe" class="form-control" />
                <span asp-validation-for="Competition.ModifieeLe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.TypeCompetition" class="control-label"></label>
                <select asp-for="Competition.TypeCompetition" class="form-control" asp-items="ViewBag.TypeCompetition"></select>
                <span asp-validation-for="Competition.TypeCompetition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.Proprietaire" class="control-label"></label>
                <input asp-for="Competition.Proprietaire.Pseudo" class="form-control" />
                <span asp-validation-for="Competition.Proprietaire" class="text-danger"></span>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.JeuxDisponible.FirstOrDefault().Nom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.JeuxDisponible.FirstOrDefault().IsInCompetition)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.JeuxDisponible.Count; i++)
                    {
                        <tr>
                            <td>
                                <input type="text" asp-for="@Model.JeuxDisponible[i].Nom" name="JeuxDisponible[i].Nom" class="form-control-plaintext" />
                            </td>
                            <td>
                                <input type="checkbox" asp-for="@Model.JeuxDisponible[i].IsInCompetition" name="JeuxDisponible[@i].IsInCompetition" class="form-control" />
                            </td>
                            <td>
                                <input type="hidden" asp-for="@Model.JeuxDisponible[i].JeuID" name="JeuxDisponible[@i].JeuID" class="form-control" />
                                <input type="hidden" asp-for="@Model.JeuxDisponible[i].CompetitiionId" name="JeuxDisponible[@i].CompetitiionId" class="form-control" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Valider" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
