@page
@model projetEsport.Areas.Admin.Pages.Competitions.IndexModel

@{
    ViewData["Title"] = "Compétitions";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-success" asp-page="Créer">Créer une nouvelle compétition</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].DateDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].DateFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].Jeux)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].EquipesDeCompetition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].TypeCompetition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListeCompetition) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Competition.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition.DateDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition.DateFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbJeux)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbEquipes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition.TypeCompetition.Nom)
            </td>
            <td>
                <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.Competition.ID">Éditer</a> |
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Competition.ID">Détails</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Competition.ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
