@page
@model projetEsport.Areas.Admin.Pages.Licencies.IndexModel

@{
    ViewData["Title"] = "Licenciés";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-success" asp-page="Create">Ajouter un licencié</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].licencie.Pseudo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].licencie.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].licencie.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].licencie.IdUtilisateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].licencie.Equipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].Roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].licencie.CreeLe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].licencie.ModifieeLe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Licencie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.licencie.Pseudo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.licencie.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.licencie.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.licencie.IdUtilisateur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.licencie.Equipe.Nom)
                </td>
                <td>
                    @foreach (var role in item.Roles)
                    {
                        <div>
                            @Html.LabelForModel(role.RoleName)
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.licencie.CreeLe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.licencie.ModifieeLe)
                </td>
                <td>
                    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.licencie.ID">Éditer</a> |
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.licencie.ID">Détails</a> |
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.licencie.ID">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
