@page
@model projetEsport.Areas.Admin.Pages.TypesCompetitions.DetailsModel

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <h4>Type de competition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeCompetition.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeCompetition.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeCompetition.CreeLe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeCompetition.CreeLe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeCompetition.ModifieeLe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeCompetition.ModifieeLe)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.TypeCompetition.ID">Éditer</a> |
    <a asp-page="./Index">Retour</a>
</div>
