@page
@model projetEsport.Areas.Admin.Pages.Equipes.DemandesModel
@{
    ViewData["Title"] = "Demandes";
}

<h1>Demandes de création d'équipe</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Equipes.FirstOrDefault().Equipe.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Equipes.FirstOrDefault().Equipe.Membres)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var equipe in Model.Equipes)
            {
                <tr>
                    <td>
                        @equipe.Equipe.Nom
                    </td>
                    <td>
                        <ul class="membres-equipe-demandes">
                            @foreach (var i in equipe.Invitations)
                            {
                                <li class="@(i.IsAccepted ? "invitation-accepted" : "invitation-not-accepted")">@i.Licencie.Pseudo</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <form method="post">
                            <input asp-for="@equipe.ID" value="@equipe.ID" type="hidden" />
                            @if (equipe.Invitations.Any(i => i.IsAccepted == false))
                            {
                                <input type="submit" class="btn btn-success" asp-page-handler="ApproveEquipe" asp-route-id="@equipe.ID" value="Approuver" disabled />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-success" asp-page-handler="ApproveEquipe" asp-route-id="@equipe.ID" value="Approuver"/>
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Index">Retour</a>
</div>
