@page
@model projetEsport.Areas.Admin.Pages.Equipes.IndexModel

@{
    ViewData["Title"] = "Équipes";
}

<h1>Équipes</h1>

<p>
    <a class="btn btn-success" asp-page="Create">Créer une nouvelle équipe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipe[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe[0].IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe[0].Jeu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe[0].CreeLe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe[0].ModifieeLe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Equipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jeu.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreeLe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifieeLe)
            </td>
            <td>
                <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.ID">Éditer</a> |
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.ID">Détails</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
