@page
@model projetEsport.Pages.Competitions.Matches.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="inline">
    @if (Model.IsProprietaire)
    {
        <p>
            @if (Model.CompetitionTerminer == false)
            {
                <a class="btn btn-success" asp-page="./Create" asp-route-id="@Model.CompetitionID">Créer un match</a>
            }
        </p>
        <form method="post">
            <input type="hidden" asp-for="@Model.CompetitionID" />
            @if (Model.Matche.Count() > 0 && Model.MatchesTerminer && Model.CompetitionTerminer == false)
            {
                <input type="submit" class="btn btn-outline-success" asp-page-handler="GenererMatch" value="Générer le match" />
            }
            else
            {
                <input type="submit" class="btn btn-outline-success" value="Générer le match" disabled />
            }
        </form>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matche[0].TypeMatche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matche[0].CompetitionNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matche[0].JeuNom)
            </th>
            <th>
                Equipe A
            </th>
            <th>
                Equipe B
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matche[0].VainqueurNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matche[0].Terminer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matche[0].Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model.Matche)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => match.TypeMatche)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.CompetitionNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.JeuNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.EquipesDuMatche[0].Nom) (@Html.DisplayFor(modelItem => match.NbVictoiresEquipeA))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.EquipesDuMatche[1].Nom) (@Html.DisplayFor(modelItem => match.NbVictoiresEquipeB))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.VainqueurNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.Terminer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.Date)
                </td>
                <td>
                    @if (match.IsProprietaire)
                    {
                    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@match.ID">Éditer</a> @(match.IsProprietaire ? string.Format("|") : "")
                    }
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@match.ID">Détails</a> @(match.IsProprietaire ? string.Format("|") : "")
                    @if (match.IsProprietaire)
                    {
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@match.ID">Supprimer</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
