@page
@model projetEsport.Pages.Equipes.IndexModel
@using Microsoft.AspNetCore.Identity
@using projetEsport.Authorization;
@using projetEsport.Models;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Equipes";
}

<h1>@ViewData["Title"]</h1>
@if (User.Identity.IsAuthenticated)
{
    if (Model.PeutCreer)
    {
        <p>
            <a class="btn btn-success" asp-page="Create">Create New</a>
        </p>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipes[0].Equipe.Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipe in Model.Equipes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => equipe.Equipe.Nom)
                </td>
                <td>
                    @if (equipe.IsMembre)
                    {
                        <a class="btn btn-success" asp-page="./Edit" asp-route-id="@equipe.ID">Edit</a> @string.Format("|");
                    }
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@equipe.ID">Details</a>
                    @if (equipe.IsMembre)
                    {
                        @string.Format("|"); <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@equipe.ID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
