@page
@model projetEsport.Pages.Equipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipes[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipes[0].JeuNom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipe in Model.Equipes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => equipe.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => equipe.JeuNom)
                </td>
                <td>
                    @if (equipe.IsProprietaire)
                    {
                    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@equipe.ID">Éditer</a> @string.Format("|");
                    }
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@equipe.ID">Details</a> @(equipe.IsProprietaire ? "|" : "")
                    @if (equipe.IsProprietaire)
                    {
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@equipe.ID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
