@page
@model projetEsport.Areas.Admin.Pages.Matches.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Matche</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matche.TypeMatche)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matche.TypeMatche)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matche.CompetitionNom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matche.CompetitionNom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matche.JeuNom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matche.JeuNom)
        </dd>
        <dt class="col-sm-2">
            @($"{Html.DisplayNameFor(model => model.Matche.NbVictoiresEquipeA)} ({Model.Matche.EquipeANom})")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matche.NbVictoiresEquipeA)
        </dd>
        <dt class="col-sm-2">
            @($"{Html.DisplayNameFor(model => model.Matche.NbVictoiresEquipeB)} ({Model.Matche.EquipeBNom})")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matche.NbVictoiresEquipeB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matche.CreeLe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matche.CreeLe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matche.ModifieeLe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matche.ModifieeLe)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Matche.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
