@page
@model projetEsport.Areas.Admin.Pages.Matches.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matche[0].TypeMatche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matche[0].Competition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matche[0].Jeu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matche[0].VictoireAEquipe1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matche[0].VictoireAEquipe2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matche[0].CreeLe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matche[0].ModifieeLe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Matche) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeMatche.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jeu.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VictoireAEquipe1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VictoireAEquipe2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreeLe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifieeLe)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
