@page
@model projetEsport.Areas.Admin.Pages.Jeux.DetailsModel

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <h4>Jeu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jeu.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jeu.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jeu.CreeLe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jeu.CreeLe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jeu.ModifieeLe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jeu.ModifieeLe)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Jeu.ID">Éditer</a> |
    <a asp-page="./Index">Retour</a>
</div>
