@page
@model projetEsport.Areas.Admin.Pages.Jeux.DetailsModel

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <h4>Jeu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jeu.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jeu.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jeu.CreeLe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jeu.CreeLe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jeu.ModifieeLe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jeu.ModifieeLe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jeu.Competitions)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Jeu.Competitions.FirstOrDefault().Competition.Nom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Jeu.Competitions.FirstOrDefault().Competition.DateDebut)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Jeu.Competitions.FirstOrDefault().Competition.DateFin)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Jeu.Competitions)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Competition.Nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Competition.DateDebut)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Competition.DateFin)
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-page="/Competitions/Details" asp-route-id="@item.CompetitionID">Détails</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Jeu.ID">Éditer</a> |
    <a asp-page="./Index">Retour</a>
</div>
