@page
@model projetEsport.Pages.Competitions.DetailsModel

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>
<p>
    <a class="btn btn-info" asp-page="./Matches/Index" asp-route-id="@Model.Competition.ID">Matchs</a>
</p>
<div>
    <h4>Compétition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.DateDebut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.DateDebut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.DateFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.DateFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.TypeCompetition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.TypeCompetition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.Proprietaire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.Proprietaire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.Jeu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.Jeu.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.NbEquipes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.NbEquipes)
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Competition.EquipesDeLaCompetition[0].Nom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Competition.EquipesDeLaCompetition[0].Membres)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Competition.EquipesDeLaCompetition[0].EncoreEnCompetition)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var equipe in Model.Competition.EquipesDeLaCompetition)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => equipe.Nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => equipe.Membres.Count)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => equipe.EncoreEnCompetition)
                            </td>
                            <td>
                                <form method="post">
                                    <input type="hidden" asp-for="@equipe.ID" name="equipe.ID" />
                                    <input type="hidden" asp-for="@equipe.EquipeID" name="equipe.EquipeID" />
                                    <input type="hidden" asp-for="@equipe.CompetitionID" name="equipe.CompetitionID" />
                                    <input type="hidden" asp-for="@equipe.JeuID" name="equipe.JeuID" />
                                    <input type="hidden" asp-for="Competition.JeuID" name="Competition.JeuID" />
                                    @if (Model.Competition.IsPropriétaire)
                                    {
                                        if (equipe.IsInCompetition)
                                        {
                                            <input type="submit" class="btn btn-danger" asp-page-handler="RemoveEquipe" value="Supprimer" />
                                        }
                                        else
                                        {
                                            <input type="submit" class="btn btn-success" asp-page-handler="AddEquipe" value="Ajouter" />
                                        }
                                        @string.Format("|")
                                    }
                                <a class="btn btn-primary" asp-page="../Equipes/Details" asp-route-id="@equipe.EquipeID">Détails</a>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    @if (Model.Competition.IsPropriétaire)
    {

        <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Competition.ID">Éditer</a> @string.Format("|")
    }
    <a asp-page="./Index">Retour</a>
</div>
