@page
@model projetEsport.Pages.Competitions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
    <h4>Compétition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.DateDebut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.DateDebut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.DateFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.DateFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.CreeLe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.CreeLe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.ModifieeLe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.ModifieeLe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.TypeCompetition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.TypeCompetition.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Competition.ID">Modifier</a> |
    <a asp-page="./Index">Retour</a>
</div>
