@page
@model projetEsport.Pages.Competitions.IndexModel
@using Microsoft.AspNetCore.Identity
@using projetEsport.Authorization;
@using projetEsport.Models;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Index";
}
<h1>Competitions</h1>
@if ((await AuthorizationService.AuthorizeAsync(User, new Competition(), ESportOperations.Create)).Succeeded)
{
    <p>
        <a class="btn btn-success" asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].DateDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].DateFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].TypeCompetition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].Proprietaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].Jeu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].NbEquipes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].Vainqueur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Competition)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDebut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeCompetition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proprietaire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jeu.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbEquipes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vainqueur)
                </td>
                <td>
                    @if (item.IsPropriétaire)
                    {
                        <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> @string.Format("|")
                    }
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.ID">Details</a> @(item.IsPropriétaire ? "|" : "")
                    @if (item.IsPropriétaire)
                    {
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
